{% extends "dept_master.html" %}

{% block title %}
Add Department
{% endblock %}

{%block content %}
<form action=""  method="post">
    {% csrf_token %}
    Dept Name  <br/>
    <input type="text" name="deptname" value="{{deptname}}"  required="required"  />
    <p/>
    Location <br/>
    <input type="text" name="location" value="{{location}}"  required="required" />
    <p/>
    <input type="submit" value="Add Dept" />
    <p/>

    <div class="info">{{message}}</div>
</form>

{% endblock %}