<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax Demo</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>

    <script>
        function getNow() {
           // make AJAX request for /demo/ajax_now
           $.get("/demo/ajax_now",{}, showNow);
        }
        function showNow(response)
        {
            $("#now").html(response);
        }
    </script>
</head>
<body>
<h2>Ajax Demo</h2>
<button onclick="getNow()">Show Time</button>
<h2 id="now"></h2>

</body>
</html>