{% extends "dept_master.html" %}

{% block title %}
List Departments
{% endblock %}

{%block content %}

<table border="1" width="100%">
    <tr>
        <th>Department Id</th>
        <th>Department Name</th>
        <th>Department Location</th>
        <th></th>
    </tr>

    {%for dept in depts%}
       <tr>
           <td> {{ dept.0 }} </td>
           <td> {{ dept.1 }} </td>
           <td> {{ dept.2 }} </td>
           <td> <a href="/demo/deletedept?deptid={{dept.0}}">Delete</a></td>
       </tr>
    {% endfor %}
</table>

{% endblock %}